.testimonials-text
  display: block
  width: 100%

  &__item
    display: block
    width: 100%

  &__text
    display: block
    width: 100%
    max-width: 830px
    margin: 0 auto 25px
    color: $white
    font-size: 16px
    line-height: 1.2
    text-align: center
    cursor: default

    +font-playfair

  &__author
    display: block
    width: 100%
    color: $white
    font-size: 14px
    font-weight: bold
    text-align: center
    cursor: default

  &__rank
    display: block
    width: 100%
    color: $white
    font-size: 13px
    font-weight: 100
    text-align: center
    cursor: default
